@model  HomeIndexViewModel
<header class="resultsContainerHeader">Available test results:</header>
<div id="resultsGrid"></div>
<script id="nameEditLink" type="text/x-jsrender"><a class='resultName' data-id='{{:id}}' data-name='{{:name}}' href='javascript:;'>{{:nameOrPrompt}}</a></script>
@section BodyEndScripts{
    <environment Names="Production">https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.83/jsrender.min.js</environment>
    <environment Names="Development"><script src="cdnlibs/jsrender.min.js"></script></environment>
    <script>initHomePage();</script>
}