<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <environment names="Production">
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    </environment>
    <environment names="Development">
        <link rel="stylesheet" href="~/cdnlibs/jsgrid.min.css">
        <link rel="stylesheet" href="~/cdnlibs/jsgrid-theme.min.css">
    </environment>
    <link type="text/css" rel="stylesheet" href="css/site.min.css" />
</head>
<body>
@RenderBody()
<environment names="Development">
    <script src="~/cdnlibs/jquery.min.js"></script>
    <script src="~/cdnlibs/jsgrid.min.js"></script>
</environment>
<environment names="Production">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
</environment>
<script src="js/site.min.js"></script> @await RenderSectionAsync("BodyEndScripts", false)
</body>
</html>
