html{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    body{
        padding: .5em;
    }
    footer{
        float: left;
        width: 100%;
        text-align: center;
        height: 2em;
        color: #999;
        font-size: 75%;
        font-style: italic;
        margin-top: 2em;
    }    
}