
.login { 
    font-size: smaller;
    padding: .2em 0 .2em 0;
    background-color: lightblue;
    text-align: center;
   .welcomeContainer{
       display: inline-block;
       span{
           font-weight: bold;
           font-size: larger;
       }
   }
   .switchtoContainer{
       display: inline-block;
       margin-left: 3em;
       span{
           padding-left: .5em;
           text-decoration: underline;
           color: blue;
           cursor: pointer;
       }
   }
}