* + * {
  margin-top: 1.5em;
}
body {
  padding-left: 1em;
}
a.resultName:before {
  content: "\270f";
  padding-right: .2em;
}
a.resultName:hover {
  cursor: text;
}
.availableResults {
  width: 100em;
  border-bottom: .5em solid lightgrey;
  margin-bottom: 3em;
}
ul.pager {
  text-align: start;
  display: inline-block;
}
#pagerSummary {
  display: inline-block;
  margin-left: 1em;
  font-size: smaller;
  color: grey;
}
#generalInfo {
  border: none;
  width: auto;
  border-spacing: 1em;
}
.borderlessTable tbody tr td,
.borderlessTable tbody tr th {
  border-top: none;
}
.pass {
  color: seagreen;
}
.fail {
  color: orangered;
}
.errorsLink,
.errorsLink:visited,
.errorsLink:hover {
  color: orangered;
  padding-left: .1em;
}
td.errorMessage {
  max-width: 50em;
  word-wrap: break-word;
}
#pageTimings,
#loadTestCounters {
  width: auto;
}
#pageTimings td,
#loadTestCounters td {
  padding-right: 1em;
}
td button.btn {
  padding: 0 .5em;
}
#selectedGrid {
  width: auto;
  margin-top: -1em;
}
